
# https://github.com/ProtoLing-Research/protoling-crypt/ # Ownership Record for ProtoLing_∇Crypt # Entity: Girling Design - Research # Organization: @ProtoLing-Research
# Global ownership - The Girling Design entity (via @ProtoLing-Research) owns all assets *       @ProtoLing-Research
# Protect the core Nabla Substrate (∇, Δ, Ω) rules codified by Girling Design /SPECIFICATION.md   @ProtoLing-Research /published-specification.md @ProtoLing-Research
# Isnad records (Found Data) require direct sign-off from the Codifier /Isnad/ @ProtoLing-Research
# Legal and security frameworks defining Girling Design's liability /LICENSE    @ProtoLing-Research /SECURITY.md @ProtoLing-Research 

